n8n-workflows/01-admin-line-notifications.json
{
  "name": "BabyKawaii — Admin LINE Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "babykawaii-events",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "wh-events",
      "name": "📥 รับ Event จาก BabyKawaii",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "babykawaii-events"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "new_order"
            }
          ]
        }
      },
      "id": "if-new-order",
      "name": "ออเดอร์ใหม่?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst msg = `🛍️ ออเดอร์ใหม่!\n#${d.order_number}\nลูกค้า: ${d.customer}\nยอด: ฿${Number(d.total).toLocaleString('th-TH')}\n\nดูออเดอร์: YOUR_SITE_URL/pages/orders.php`;\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-order",
      "name": "📝 จัดรูปแบบข้อความออเดอร์",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 180]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst msg = `⚠️ แจ้งเตือนสต็อก: ${d.product_name} ${d.size}/${d.color} เหลือ ${d.quantity} ชิ้น (ต่ำกว่า ${d.min_alert})\n\nดูสต็อก: YOUR_SITE_URL/pages/stock.php?filter=low`;\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-stock",
      "name": "📝 จัดรูปแบบข้อความสต็อก",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 420]
    },
    {
      "parameters": {
        "url": "https://notify-api.line.me/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_NOTIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "line-notify-order",
      "name": "📲 ส่ง LINE Notify (ออเดอร์)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 180]
    },
    {
      "parameters": {
        "url": "https://notify-api.line.me/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_NOTIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "line-notify-stock",
      "name": "📲 ส่ง LINE Notify (สต็อก)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 420]
    }
  ],
  "connections": {
    "📥 รับ Event จาก BabyKawaii": {
      "main": [[ { "node": "ออเดอร์ใหม่?", "type": "main", "index": 0 } ]]
    },
    "ออเดอร์ใหม่?": {
      "main": [
        [ { "node": "📝 จัดรูปแบบข้อความออเดอร์", "type": "main", "index": 0 } ],
        [ { "node": "📝 จัดรูปแบบข้อความสต็อก", "type": "main", "index": 0 } ]
      ]
    },
    "📝 จัดรูปแบบข้อความออเดอร์": {
      "main": [[ { "node": "📲 ส่ง LINE Notify (ออเดอร์)", "type": "main", "index": 0 } ]]
    },
    "📝 จัดรูปแบบข้อความสต็อก": {
      "main": [[ { "node": "📲 ส่ง LINE Notify (สต็อก)", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{"name": "BabyKawaii"}],
  "_readme": {
    "setup": [
      "1. Import workflow นี้เข้า n8n",
      "2. แทนที่ YOUR_LINE_NOTIFY_TOKEN ด้วย token จาก https://notify-bot.line.me",
      "3. แทนที่ YOUR_SITE_URL ด้วย URL เว็บ เช่น https://yourdomain.com/BabyKawaii-Admin",
      "4. ตั้ง n8n_base_url ในหน้า Integrations ของ BabyKawaii ให้ชี้ไป n8n server",
      "5. Activate workflow"
    ]
  }
}
