n8n-workflows/02-daily-sales-report.json
{
  "name": "BabyKawaii — Daily Sales Report to LINE",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "minutesInterval": 0,
              "hoursInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-8am",
      "name": "⏰ ทุกวัน 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "YOUR_SITE_URL/api/v1/sales.php?period=today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_API_KEY"
            }
          ]
        }
      },
      "id": "get-sales-today",
      "name": "📊 ดึงยอดขายวันนี้",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "YOUR_SITE_URL/api/v1/stock.php?filter=low",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_API_KEY"
            }
          ]
        }
      },
      "id": "get-stock-alert",
      "name": "📦 ดึงสต็อกใกล้หมด",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 480]
    },
    {
      "parameters": {
        "jsCode": "const sales = $('📊 ดึงยอดขายวันนี้').first().json.data;\nconst stock = $('📦 ดึงสต็อกใกล้หมด').first().json.data;\n\nlet msg = sales.line_text;\n\nif (stock.summary.low_count > 0 || stock.summary.out_count > 0) {\n  msg += '\\n\\n' + stock.summary.alert_text;\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-report",
      "name": "📝 รวมรายงาน + สต็อก",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "url": "https://notify-api.line.me/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_NOTIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "send-report",
      "name": "📲 ส่งรายงานไป LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 380]
    }
  ],
  "connections": {
    "⏰ ทุกวัน 08:00": {
      "main": [
        [ { "node": "📊 ดึงยอดขายวันนี้", "type": "main", "index": 0 } ],
        [ { "node": "📦 ดึงสต็อกใกล้หมด", "type": "main", "index": 0 } ]
      ]
    },
    "📊 ดึงยอดขายวันนี้": {
      "main": [[ { "node": "📝 รวมรายงาน + สต็อก", "type": "main", "index": 0 } ]]
    },
    "📦 ดึงสต็อกใกล้หมด": {
      "main": [[ { "node": "📝 รวมรายงาน + สต็อก", "type": "main", "index": 0 } ]]
    },
    "📝 รวมรายงาน + สต็อก": {
      "main": [[ { "node": "📲 ส่งรายงานไป LINE", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{"name": "BabyKawaii"}],
  "_readme": {
    "what": "ส่งรายงานยอดขายประจำวัน + แจ้งเตือนสต็อกใกล้หมด ไปยัง LINE ทุกเช้า 8:00",
    "setup": [
      "1. แทนที่ YOUR_SITE_URL, YOUR_API_KEY (จากหน้า Integrations ใน BabyKawaii)",
      "2. แทนที่ YOUR_LINE_NOTIFY_TOKEN (จาก https://notify-bot.line.me)",
      "3. Activate workflow"
    ]
  }
}
