n8n-workflows/05-tiktok-order-sync.json
{
  "name": "BabyKawaii — TikTok Shop Order Sync",
  "notes": "รับ webhook จาก TikTok Shop เมื่อมีออเดอร์ใหม่ → แปลงเป็น BabyKawaii format → สร้างออเดอร์ → แจ้ง LINE Admin\n\nตัวแปรที่ต้องกรอก:\n- TIKTOK_APP_SECRET : TikTok Shop App Secret (ใช้ verify signature)\n- BABYKAWAII_URL    : https://yourdomain.com\n- BABYKAWAII_KEY    : API Key\n- LINE_TOKEN        : LINE Channel Access Token\n- LINE_ADMIN_ID     : LINE Admin User ID",

  "nodes": [

    {
      "id": "tiktok-webhook",
      "name": "📥 TikTok Shop Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktok-shop",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "tiktok-shop"
    },

    {
      "id": "parse-tiktok",
      "name": "🔍 Parse TikTok Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// TikTok Shop webhook types\nconst type = body.type || '';\n\n// Only process new/paid orders\nif (!['ORDER_STATUS_CHANGE', '141'].includes(String(type))) {\n  return [{ json: { skip: true, reason: 'not an order event' } }];\n}\n\nconst data = body.data || {};\nconst order = data.order_info || data || {};\n\n// Map TikTok fields → BabyKawaii fields\nconst recipient = order.recipient_address || {};\nconst lineItems = order.line_items || [];\n\nconst items = lineItems.map(item => ({\n  tiktok_sku_id:  item.sku_id || '',\n  seller_sku:     item.seller_sku || '',     // ต้อง map กับ BabyKawaii SKU\n  product_name:   item.product_name || '',\n  size:           item.sku_name?.split('/')[0]?.trim() || '',\n  color:          item.sku_name?.split('/')[1]?.trim() || '',\n  quantity:       item.quantity || 1,\n  unit_price:     parseFloat(item.sale_price || 0)\n}));\n\nreturn [{ json: {\n  skip: false,\n  tiktok_order_id: order.order_id || order.id || '',\n  customer_name:   recipient.name || order.buyer_username || 'ลูกค้า TikTok',\n  customer_phone:  recipient.phone_number || '',\n  customer_address: [\n    recipient.address_line1,\n    recipient.address_line2,\n    recipient.district_info?.district_name,\n    recipient.district_info?.province_name,\n    recipient.zipcode\n  ].filter(Boolean).join(' '),\n  shipping_fee:   parseFloat(order.shipping_fee || 50),\n  items\n}}];"
      }
    },

    {
      "id": "check-skip-tt",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [580, 300],
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.skip }}", "value2": true }]
        }
      }
    },

    {
      "id": "map-skus",
      "name": "🗺️ Map TikTok SKU → BabyKawaii product_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 200],
      "parameters": {
        "jsCode": "// TikTok seller_sku ควรตั้งให้ตรงกับ BabyKawaii SKU เช่น BK-001-W-NB\n// ถ้าไม่ตรง: admin จะเห็นออเดอร์ใน system แต่ product_id = 0 (ต้องแก้ manual)\nconst data = $input.first().json;\n\nconst mappedItems = data.items.map(item => {\n  // seller_sku format: BK-001-W-NB (sku-colorEn-size)\n  const parts = (item.seller_sku || '').split('-');\n  // ถ้า SKU format ถูกต้อง: parts[0]+parts[1] = base SKU (BK-001)\n  return {\n    ...item,\n    // product_id จะถูก resolve โดย orders API จาก SKU\n    resolved_sku: item.seller_sku || item.product_name\n  };\n});\n\nreturn [{ json: { ...data, items: mappedItems } }];"
      }
    },

    {
      "id": "create-order",
      "name": "🛒 สร้างออเดอร์ใน BabyKawaii",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1060, 200],
      "parameters": {
        "url": "={{ $vars.BABYKAWAII_URL }}/api/v1/orders.php",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-API-Key", "value": "={{ $vars.BABYKAWAII_KEY }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_name\":    \"{{ $json.customer_name }}\",\n  \"customer_phone\":   \"{{ $json.customer_phone }}\",\n  \"customer_address\": \"{{ $json.customer_address }}\",\n  \"platform\":         \"tiktok\",\n  \"shipping_cost\":    {{ $json.shipping_fee }},\n  \"notes\":            \"TikTok Order ID: {{ $json.tiktok_order_id }}\",\n  \"items\": {{ JSON.stringify($json.items.map(i => ({ size: i.size, color: i.color, quantity: i.quantity, seller_sku: i.resolved_sku }))) }}\n}"
      }
    },

    {
      "id": "line-notify-tt",
      "name": "📲 LINE แจ้ง Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 200],
      "parameters": {
        "url": "https://api.line.me/v2/bot/message/push",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.LINE_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $vars.LINE_ADMIN_ID }}\",\n  \"messages\": [{\n    \"type\": \"text\",\n    \"text\": \"🎵 ออเดอร์ใหม่จาก TikTok Shop!\\n#{{ $('สร้างออเดอร์ใน BabyKawaii').item.json.data.order_number }}\\n👤 {{ $('🗺️ Map TikTok SKU → BabyKawaii product_id').item.json.customer_name }}\\n📦 {{ $('🗺️ Map TikTok SKU → BabyKawaii product_id').item.json.items.length }} รายการ\\n🔗 TikTok Order: {{ $('🔍 Parse TikTok Order').item.json.tiktok_order_id }}\\n\\nดูออเดอร์: {{ $vars.BABYKAWAII_URL }}/pages/orders.php\"\n  }]\n}"
      }
    },

    {
      "id": "respond-tiktok",
      "name": "✅ ตอบ TikTok (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1540, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"code\": 0, \"message\": \"success\" }"
      }
    }

  ],

  "connections": {
    "📥 TikTok Shop Webhook":  { "main": [[{ "node": "🔍 Parse TikTok Order",                    "type": "main", "index": 0 }]] },
    "🔍 Parse TikTok Order":   { "main": [[{ "node": "Skip?",                                      "type": "main", "index": 0 }]] },
    "Skip?": {
      "main": [
        [{ "node": "🗺️ Map TikTok SKU → BabyKawaii product_id", "type": "main", "index": 0 }],
        []
      ]
    },
    "🗺️ Map TikTok SKU → BabyKawaii product_id": { "main": [[{ "node": "🛒 สร้างออเดอร์ใน BabyKawaii", "type": "main", "index": 0 }]] },
    "🛒 สร้างออเดอร์ใน BabyKawaii":              { "main": [[{ "node": "📲 LINE แจ้ง Admin",           "type": "main", "index": 0 }]] },
    "📲 LINE แจ้ง Admin":                          { "main": [[{ "node": "✅ ตอบ TikTok (200 OK)",       "type": "main", "index": 0 }]] }
  }
}
